/* Color palette */
:root {
  --peach: #f8b195;
  --pink: #f67280;
  --dark-pink: #c06c84;
  --purple: #6c5b7b;
  --dark-blue: #355c7d;
}

html {
  font-family: "Lucida Console", "Courier New", monospace;
  background: var(--peach);
  background: linear-gradient(
    180deg,
    var(--peach),
    var(--pink),
    var(--dark-pink),
    var(--purple),
    var(--dark-blue)
  );
  height: 100%;
  font-weight: 550;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  font-weight: 800;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.zip-input,
.zip-display {
  width: 600px;
  height: auto;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 4px;
}

.zip-input {
  background-color: var(--peach);
  border: 2px solid var(--dark-blue);
}

.instructions {
  margin: 20px 0px;
}

.instructions p {
  margin-bottom: 10px;
}

.zip-input div {
  margin-top: 10px;
}

.zip-input p {
  margin-top: 10px;
}

.zip-form {
  padding: 20px;
}

#zip {
  padding: 10px;
}

.submit {
  padding: 10px;
  background-color: var(--dark-blue);
  border-radius: 2px;
  color: white;
  font-family: inherit;
  font-weight: 700;
}

.zip-display {
  display: none;
  background-color: var(--peach);
  border: 2px solid var(--dark-blue);
  background-color: none;
  justify-content: center;
  text-align: center;
}

.location-information {
  display: none;
  padding: 20px;
}

.location-information p {
  margin-bottom: 10px;
}

.state-image {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.location-name {
  font-size: 1.5em;
}

.latitude,
.longitude {
  display: inline;
  width: 45%;
  margin-bottom: 10px;
}

.requested-zip {
  margin-top: 10px;
}

.further-instructions {
  display: none;
}

/* Animations */

.fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media query for phone screens */

@media screen and (max-width: 600px) {
  .title {
    padding: 10px;
  }
  .zip-input,
  .zip-display {
    width: 75%;
    height: 75%;
  }

  #zip {
    width: 50%;
  }

  .latitude,
  .longitude {
    width: 100%;
  }
}
